spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: validate   # Validate schema after Flyway migration
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
  h2:
    console:
      enabled: true


logging:
  level:
    root: INFO
    com.github.crmusico125.expensetracker: DEBUG

security:
  jwt:
    secret: "change-this-to-a-very-long-32-byte-minimum-secret-key"
    expiration-seconds: 3600

